<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">TBZ Blog App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active current" routerLink="/">Home<span class="sr-only"></span></a>
        </li>
        <li class="nav-item" *ngIf="service.isLoggedIn()">
          <a class="nav-link" routerLinkActive="active current" routerLink="/blogs/create">New<span class="sr-only"></span></a>
        </li>
        <li class="nav-item" *ngIf="!service.isLoggedIn()">
          <a class="nav-link" routerLinkActive="active current" routerLink="/login">Login<span class="sr-only"></span></a>
        </li>
        <li class="nav-item" *ngIf="service.isLoggedIn()">
          <a (click)="service.signOut()" class="nav-link" routerLinkActive="active current" routerLink="/">Logout<span class="sr-only"></span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>