<div class="container main">
  <h1 class="bd-title">Edit Blog:</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <label for="blogTitle">Title:</label>
      <input 
        formControlName="blogTitle"
        id="blogTitle"
        type="text"
        class="form-control">
    </div>

    <div class="alert alert-danger" *ngIf="blogTitle.touched && blogTitle.invalid">
      <div *ngIf="blogTitle.errors.required">Bitte geben Sie einen Titel ein.</div>
    </div>

    <div class="form-group">
      <label for="blogSubtitle">Subtitle:</label>
      <input 
        formControlName="blogSubtitle"
        id="blogSubtitle"
        type="text"
        class="form-control">
    </div>

    <div class="alert alert-danger" *ngIf="blogSubtitle.touched && blogSubtitle.invalid">
      <div *ngIf="blogSubtitle.errors.required">Bitte geben Sie einen Titel ein.</div>
    </div>

    <div class="form-group">
      <label for="blogImage">Bild:</label>
      <input 
        formControlName="blogImage"
        id="blogImage"
        type="text"
        class="form-control">
    </div>

    <div class="alert alert-danger" *ngIf="blogImage.touched && blogImage.invalid">
      <div *ngIf="blogImage.errors.required">Bitte geben Sie einen Titel ein.</div>
    </div>

    <div class="form-group">
      <label for="blogBody">Inhalt:</label>
      <textarea
        rows="10" 
        formControlName="blogBody"
        id="blogBody"
        type="text"
        class="form-control">
      </textarea>
    </div>

    <div class="alert alert-danger" *ngIf="blogBody.touched && blogBody.invalid">
      <div *ngIf="blogBody.errors.required">Bitte geben Sie einen Titel ein.</div>
    </div>


    <button
    class="btn btn-primary"
    [disabled]="!form.valid"
    type="submit">
    Speichern</button>
  </form>
</div>