<div class="container main">
  <h1 class="bd-title">Erstelle einen neuen Blog!</h1>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <label for="blogTitle">Title:</label>
      <input 
        ngModel 
        required
        name="blogTitle" 
        #blogTitle="ngModel" 
        type="text"
        class="form-control">
    </div>

    <div class="alert alert-danger" *ngIf="blogTitle.touched && !blogTitle.valid">
      <div *ngIf="blogTitle.errors.required">Bitte geben Sie einen Titel ein.</div>
    </div>

    <div class="form-group">
      <label for="blogImage">Bild:</label>
      <input 
        ngModel
        required
        name="blogImage" 
        #blogImage="ngModel" 
        type="text"
        class="form-control">
    </div>
    
    <div class="alert alert-danger" *ngIf="blogImage.touched && !blogImage.valid">
      <div *ngIf="blogImage.errors.required">Bitte geben Sie eine Bild-URL ein.</div>
    </div>

    <div class="form-group">
      <div class="field">
        <label name="blogBody">Inhalt:</label>
        <textarea
          ngModel
          required
          name="blogBody"
          #blogBody="ngModel"
          class="form-control"></textarea>
      </div>
    </div>

    <div class="alert alert-danger" *ngIf="blogBody.touched && !blogBody.valid">
      <div *ngIf="blogBody.errors.required">Bitte geben Sie einen Inhalt ein.</div>
    </div>

    <button
    class="btn btn-primary"
    [disabled]="!form.valid"
    type="submit">
    Erstellen</button>
  </form>
</div>