<div class="container main">
  <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 *ngIf="!authService.isLoggedIn()" class="display-4 font-italic">
        Willkommen!
      </h1>
      <h1 *ngIf="authService.isLoggedIn()" class="display-4 font-italic">
        Willkommen {{ authService.currentUser.name }}!
      </h1>
      <p class="lead my-3">"Programmieren ist wie Küssen: Man kann darüber reden, man kann es beschreiben, aber man weiss erst was es bedeutet, wenn man es getan hat."</p>
      <p class="lead mb-0"><a routerLink="/login" class="text-white font-weight-bold">Selber bloggen..</a></p>
    </div>
  </div>

  <div *ngFor="let blog of blogs" class="col-md-6 float-left">
    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-primary">Blog</strong>
        <h3 class="mb-0">
          <a class="text-dark" [routerLink]="['blogs', blog._id]">{{ blog.title }}</a>
        </h3>
        <div class="mb-1 text-muted">{{ blog.created }}</div>
        <p class="card-text mb-auto">{{ blog.body.substring(0, 50) }}</p>
        <a [routerLink]="['blogs', blog._id]">Continue reading</a>
      </div>
      <img src="{{ blog.image }}" class="test card-img-right flex-auto rounded d-none d-lg-block">
    </div>
  </div>
</div>